

/*! MAIN PAGE STYLING **/

html {
    height: 100%;
    aspect-ratio: 1;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(40, 54, 61);
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 40vh;
    z-index: 1;
    background-color:rgb(40, 54, 61);
    border-right: 2px solid rgb(0, 109, 109) ;
    transform: translateX(-30vh);
    transition: background-color .5s ease-out, transform .2s ease-out ;
}

.menu-button{
    position: absolute;
    right: 0;
    height: 5vh;
    aspect-ratio: 1;
    background-image: url(assets/menuIcon.png);
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    background-color: transparent;
    border: none;
    margin: 2vh;
    cursor: pointer;
}


.github-link{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 8vh;
    aspect-ratio: 1;
    background-image: url(assets/githubIcon.png);
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    margin: 1vh;
    cursor: pointer;
}


.utilities-links{
    position: absolute;
    top: 10%;
    padding: 10px;
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    row-gap: 4vh;
}

.home-link, .consult-link, .statistics-link, .about-link, .modify-link, .text{
    margin-left: -10px;
    width: inherit;
    height: 6vh;
    max-height: 7vh;
    font-size: 4vh;
    color: white;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(100,149,237, .1);
    cursor: pointer;
    transition: .2s ease-out;
    visibility: hidden;
    opacity: 0;
}

.text{
    visibility: visible;
    opacity: 1;
}

.home-link:hover, .consult-link:hover, .statistics-link:hover, .about-link:hover, .modify-link:hover {
    background-color: rgb(245, 245, 245, .6);
    color:  rgb(40, 54, 61);
}

.text-link{
    margin-left: 35px;
}

.navbar.isActive {
    background-color: rgb(0, 109, 109);
    transform: translateX(0px);
}

.navbar.isActive .home-link, .navbar.isActive .consult-link, .navbar.isActive .statistics-link, .navbar.isActive .about-link,
 .navbar.isActive .modify-link, .navbar.isActive .text{
    visibility: visible;
    opacity: 1;
}

a{
    text-decoration: none;
    color: inherit;
}

/*! WEBKIT SCROLL BAR DECO **/

::-webkit-scrollbar{
    width: 2vh;
}

::-webkit-scrollbar-track{
    background: transparent;
}

::-webkit-scrollbar-thumb{
    border-radius: 6vh;
    background-color:rgb(0, 139, 139);
}

::-webkit-scrollbar-thumb:hover{
    background-color: whitesmoke;
}

/*! PAGES **/

.pages {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    display: grid;
    grid-template-columns: auto;
    column-gap: 0px;
}

.pages.db-page > *{
    position: absolute;
    margin-top: 7vh;
}

.button-table{
    position: absolute;
    top: -5vh;
    left: 20vh;
    height: 5vh;
    width: 10vw;
    border: none;
    background-color: transparent;
    font-size: 3vh;
    background-color: whitesmoke;
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
    cursor: pointer;
    transition: .1s ease-in-out;
    opacity: .8;
}

.button-table:hover, .button-table.isActive{
    opacity: 1;
    box-shadow:  0 0 3vh .3vh rgb(0, 0, 0, .2);
    color: yellowgreen;
}

.button-table.isActive{
    background-color: rgb(43, 122, 120);
}

.page-1, .page-2, .page-3, .page-4, .page-5, .page-6,.footer{
    position: relative;
    height: 100vh;
    width: 100vw;
}

.page-1{
    background-color: rgb(43, 122, 120);
}

.page-2{
    background-color: rgb(40, 54, 61);
}

.page-3{
    background-color:rgb(43, 122, 120);
}

.page-4{
    background-color: olive;
}

.page-5{
    background-color: peru;
}

.page-6{
    background-color: rgb(0, 109, 109);
}

.footer{
    height: 8vh;
}

.footer > .main-text{
    color: whitesmoke;
    font-weight: 600;
    font-size: 2vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-top: 20px;
}

.footer > .secondary-text{
    color: whitesmoke;
    font-weight: 600;
    font-size: 1.3vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.page-1 .header{
    margin-left: 40%;
    background-image: url(assets/sgbdWP.png);
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    height: 20vh;
    width: 500px;
}


.blur-screen{
    position: fixed;
    top: 0;
    left: 40vh;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    backdrop-filter: blur(10px);
    visibility: hidden;
    transition: .1 ease-in;
}


.blur-screen.isActive{
    visibility: visible;
}

/*! DECO FOR MODIFY.PHP ELEMENTS**/

.sections-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    grid-template-columns: auto;
    transition: .4s ease-in-out;
}

.sections-wrapper.choose{
    transform: translateY(-102vh);
}

.sections-wrapper.form{
    transform: translateY(-204vh);
}

.sections-actions{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: auto auto auto;
}

.sections-actions > *{
    height: 100vh;
    width: 33vw;
    transition: .1s ease-out;
    cursor: pointer;
}

.sections-actions > *:hover{
    opacity: .8;
}

.sections-objects{
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 10px;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: auto auto auto;
}

.sections-objects > *{
    height: 100vh;
    width: 33vw;
    transition: .1s ease-in;
    cursor: pointer;
}

.sections-objects > *:hover{
    opacity: .6;
}

.add-action, .game-object {
    background-color: rgb(43, 122, 120);
}

.modify-action, .player-object {
    background-color:  rgb(40, 54, 61);
}
.delete-action{
    background-color:  rgb(118, 13, 34);
}

.comment-object{
    background-color:  rgb(20, 34, 41);

}

.add-action > .text, .delete-action > .text, .modify-action > .text, .game-object > .text, .player-object > .text, .comment-object > .text {
    position: absolute;
    top: 40%;
    text-align: center;
    background-color: transparent;
    font-size: 3vw;
}



.add-action > .icon, .delete-action > .icon, .modify-action > .icon, .game-object > .icon, .player-object > .icon, .comment-object > .icon {
    position: absolute;
    height: 6vw;
    top: 30%;
    margin-left: 13%;
    aspect-ratio: 1;
    background-repeat: no-repeat no-repeat;
    background-size: contain;
}

.cancel-button{
    position: fixed;
    top: 0;
    right: 0;
    height: 5vh;
    width: 6.5vw;
    text-align: center;
    visibility: hidden;
    font-size: 3vh;
    opacity: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: white;
    margin: 2vh;
    border: none;
    background-color: rgb(0, 109, 109);
    border-radius: 0;
    transition: opacity 1s ease-in-out, box-shadow .1s ease-in-out,  border-radius .1s ease-in-out;
    cursor: pointer;
}

.cancel-button:hover{
    box-shadow: 0 0 3vh .1vh rgb(0, 0, 0, .2);
}

.cancel-button.isActive{
    opacity: 1;
    visibility: visible;
}

/*! FROM WRAPPER STYLES */

.form-wrapper{
    position: absolute;
    top: 200vh;
    width: 99.8%;
    height: 100%;
    margin-top: 20px;
    background-color: whitesmoke;
}

.form-select{
    position: absolute;
    top: 50vh;
    left: 50vw;
    height: 80vh;
    width: 80vw;
    background-color: rgb(40, 54, 61);
    transform: translate(-38vw, -40vh);
    border-radius: 3vh;
    box-shadow: 0 0 3vh .2vh rgb(0, 0, 0, .2);
}

.form-submit{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 2vh;
    height: 8vh;
    width: 15vw;
    display: grid;
    grid-template-columns: auto auto;
    border: none;
    border-radius: 3vh;
    cursor: pointer;
    transition: .2s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.form-submit.delete{
    background-color: crimson;
}

.form-submit.add{
    background-color: rgb(0, 139, 139);
}

.form-submit.modify{
    background-color: rgb(0, 109, 109);
}

.form-submit.isActive{
    opacity: .9;
    visibility: visible;
}

.form-submit:hover{
    opacity: 1;
    box-shadow: 0 0 3vh .2vh rgb(0, 0, 0, .2);
}

.form-submit-text{
    margin-top: 1vh;
    color: whitesmoke;
    font-size: 4vh;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form-submit-img{
    margin-top: 1vh;
    height: 6vh;
}

.form-field-wrapper{
    position: absolute;
    margin: 3vh;
    height: auto;
    top: 0;
    left: 0;
}

.form-fields{
    position: absolute;
    top: 0;
    left: 0;
    grid-template-columns: auto;
    row-gap: 2vh;
    margin: 3vh;
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: .2s ease-in-out;
}

.form-fields.isActive{
    opacity: 1;
    visibility: visible;
    display: grid;
}

.field{
    width: 70vw;
    border-radius: 2vh;
    opacity: 1;
    display: grid;
    grid-template-columns: auto 50vw;
}

.field-name{
    color: whitesmoke;
    font-size: 4vh;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.field-input{
    background-color: whitesmoke;
    text-align: center;
    border-radius: 1vh;
    height: 7vh;
    border: none;
    transition: .1s ease-in-out;
}

.field-input:hover{
    border: .5vh solid rgb(0, 109, 109);
}

.field-input:focus{
    border: .5vh solid whitesmoke;
}

/*! CONSULT/STATS PHP CSS */

.consult-wrap, .stats-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 80vh;
    transform: translate(-50%, -50%);
    text-align: center;
}

.consult-wrap > .title-grid, .stats-wrap > .title-grid{
    display: inline-block;
    height: 6vh;
    width: 60vw;
    color: white;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3vh;
    font-weight: 500;
}

.choose-button {
    display: inline-block;
    height: 5vh;
    width: 50vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2vh;
    font-weight: 600;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: .2s ease-out;
    background-color: rgb(189, 188, 188, .5);
    backdrop-filter: blur(20px);
    color: black;
    border-radius: 2vh;
}

.field-input.choose-button{
    height: 7vh;
    background-color: whitesmoke;
}

.field-input.choose-button:hover{
    background-color: rgb(245, 245, 245, .8);
}

.choose-button:hover{
    background-color: rgb(255, 255, 255, .5);
}

.choose-bar {
    display: none;
    width: 50vw;
    height: 10vh;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 1;
    visibility: hidden;
    transform: translateY(-10px);
    transition: .3s ease-in-out;
    opacity: 0;
    background-color: transparent;
    grid-template-rows: auto;
    row-gap: 0;
}

.choose-bar.isVisible{
    opacity: 1;
    transform: translateY(0px);
    visibility: visible;
    display: inline-block;
}

.test-bar{
    height: 6vh;
    width: 50vw;
    font-size: 2vh;
    cursor: pointer;
    border: 1px solid rgb(55, 128, 130);
    background-color: rgb(255, 255, 255, .6);
    border-radius: .5vh;
    color: black;
    font-weight: 700;
    transition: .1s ease-in-out;
}

.test-bar:hover{
    background-color:  rgb(55, 128, 130);
    color: yellowgreen;
}

.test-bar.choose-value{
    background-color: whitesmoke;
}

.test-bar.choose-value:hover{
    background-color: rgb(245, 245, 245, .8);
}

.consult-grid, .stats-grid {
    z-index: -1;
    display: inline-block;
    position: absolute;
    left: 0;
    margin: 1vh;
    margin-left: -8vw;
    margin-top: 10vh;
    height: 70vh;
    width: 80vw;
    border-radius: 2vh;
    background-color:  rgb(255, 255, 255, .6);
    backdrop-filter: blur(20px);
}

.consult-title-page, .stats-title-page, .about-title-page, .index-title-page{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 7vh;
    font-weight: 700;
}

/*! PARAGRAPH STYLING INDEX PHP */

.paragraph{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(55, 55, 55, .5);
    width: 70vw;
    padding: 2vh;
    border-radius: 2vh;
    text-align: center;
}

.title{
    color: rgb(1, 255, 119);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 6vh;
    font-weight: 700;
    text-align: center;
}

.content{
    color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3vh;
    font-weight: 500;
    text-align: justify;
}

.scheme-links{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 0px;
}